.container{
    display: flex;
    width: 600px;
    height: 600px;
    margin: 0px;
    flex: 1;
    flex-wrap: wrap;
 
  
}
.pixel{
    display: flex;
   
  
    height: 10px;
    width: 20px;
   
}