body{ 
    display: flex;
    justify-content: center;
    align-items: center;


}
.grid{
    border-style: solid;
    border-color: red;
}
.container{
    display: flex;
    width: 600px;
    height: 600px;
    margin: 0px;
    flex: 1;
    flex-wrap: wrap;
    border-width: 10px;
    border-radius: 20%;
    border-color: red;
  
}
.pixel{
    display: flex;
   
height: auto;
width: auto;
}